body{
    margin:0 auto;
}
.cart-inner{
    padding: 30px 0;
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;
}
.cart-product-img{
    height: 96px;
    width: 65px;
    margin-right: 100px;
}
.cart-product{
    border: #eeeeee 2px solid;
    padding: 15px;
}
.cart-product>ul{
    margin-right: 100px;
}
.footer{
    height: 200px;
    width: 100%;
    background-color: #eee;
}
.footer-icon{
    margin-right: 10px;
    height: 35px;
    width: 35px;
}