body{
    margin:0 auto;
}
.cart-inner{
    height: 500px;
    width: 100%;
    background-color: #eee;
    margin-bottom: 25px;
}
.cart-img{
    height: 250px;
    width: 250px;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: #eee;
}