body{
    margin: 0 auto;
}
.promo{
    height: 250px;
    width: 100%;
    background-color: #eee;
}
.card-body{
    background-color: #eee;
    margin-bottom: 10px;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: #eee;
}
