body{
    margin: 0 auto;
}
.promo{
    height: 250px;
    width: 100%;
    background-color: #eee;
}
.card{
    margin-bottom: 15px;
}
.card-body{
    background-color: #eee;
    width: 100%;
    height: 200px;
}
.card>img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: #eee;
}
.footer-icon{
    margin-right: 10px;
    height: 35px;
    width: 35px;
}
