body{
   margin: 0 auto;
}
.promo-inner{
    height: 500px;
    width: 100%;
    background-color: #eee;
}
.carousel-item{
    height: 500px;
}
.card-body{
    background-color: #eee;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: #eee;
}
